* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.recipeDetailsButton {
  bottom: 0;
  margin-left: 200px;
  position: fixed;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1em;
}
