* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.recipeDetailsButton {
  bottom: 0;
  margin-left: 200px;
  position: fixed;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1em;
}
